flow.js
[{"id":"3396ac0.25b15d4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2943fee2.41bb92","type":"ibmiot in","z":"3396ac0.25b15d4","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"b0b448b89506","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":100,"wires":[["b5e928a.bde39d8"]]},{"id":"b5e928a.bde39d8","type":"function","z":"3396ac0.25b15d4","name":"","func":"var Xdata;\nvar Xdata=Math.abs(msg.payload.d.light);\nXdata.topic=\"a\";\nreturn {payload:Xdata,deviceId:msg.deviceId};","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["d508f82e.465ee8","6f056805.d0e068"]]},{"id":"6f056805.d0e068","type":"switch","z":"3396ac0.25b15d4","name":"thresh","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"120","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":180,"wires":[["72f46dc8.eb0ec4"]]},{"id":"2e63573c.a3e7a8","type":"rbe","z":"3396ac0.25b15d4","name":"","func":"deadband","gap":"15%","start":"","inout":"out","property":"payload","x":570,"y":180,"wires":[["757a827a.23ba34"]]},{"id":"eead660a.f8e6d8","type":"debug","z":"3396ac0.25b15d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":200,"wires":[]},{"id":"6f549a7e.5c226c","type":"gcm","z":"3396ac0.25b15d4","name":"","gcmConfiguration":"d1f33525.add5c8","x":970,"y":320,"wires":[[]]},{"id":"757a827a.23ba34","type":"function","z":"3396ac0.25b15d4","name":"deviceid","func":"global.set(\"light\",msg.payload);\nreturn {payload:msg.payload};","outputs":1,"noerr":0,"x":720,"y":180,"wires":[["c530f972.f621c"]]},{"id":"c530f972.f621c","type":"function","z":"3396ac0.25b15d4","name":"","func":"    var message =\n      {\n          to:'dP-RcBpJrHw:APA91bE8dCx33UdOwzOGf8KCqTUI0rQLnNd4I7v-fQ9_5uYCSv0uRXI9ZZtcNMdECPJuDkZLTQagYKcc24GXLGSdhA4P_gVhLXtyelo_2ushJQk8g9TGOtKOJ2fZC1nk7kRI3aqbVSZeRKoEPJfebtgfTqtdkdTieQ',\n          notification:{notification:{\n          body:\"Lux meter reading is:\"+msg.payload+\".You are recommended to stay in a place where the lux reading is below 100\",\n          title:\"Warning\"}},\n         timeToLive: 6000,\n    };\nreturn message;\n","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["eead660a.f8e6d8","6f549a7e.5c226c"]]},{"id":"d508f82e.465ee8","type":"debug","z":"3396ac0.25b15d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":440,"y":60,"wires":[]},{"id":"d596d0d2.11c1a","type":"mqtt in","z":"3396ac0.25b15d4","name":"","topic":"p","qos":"0","broker":"61340217.c7f604","x":50,"y":360,"wires":[["94b48bf8.32d29"]]},{"id":"94b48bf8.32d29","type":"debug","z":"3396ac0.25b15d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","x":150,"y":360,"wires":[]},{"id":"72f46dc8.eb0ec4","type":"delay","z":"3396ac0.25b15d4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":240,"wires":[["2e63573c.a3e7a8"]]},{"id":"d1f33525.add5c8","type":"gcm-configuration","z":"","name":"Alert","apiKey":"AAAAYP_uLNU:APA91bFMuHP1ReX3edEWnnKcvIeGAgTO0bO8JQVGPZlrO0qL_JtiETUQVDC-Lx_4ccXxYduW0dKjM9RX0A3R8qv65xFqG2wo5fGAMDiZg1HCi_z2rexQQvsjNminMt-v6W0FBZbUOU2sfp6CH-Vn3vDMVwKJTY4EGA"},{"id":"61340217.c7f604","type":"mqtt-broker","z":"","name":"","broker":"103.26.96.10","port":"1883","clientid":"Samsung","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
